<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" media="screen and (orientation:landscape) and (max-width: 1024px)" href="./css/styles-mobile.css">
    <link rel="stylesheet" href="./css/intro.css">
    <link rel="stylesheet" href="./css/home.css">
    <script src="./js/resize.js" defer></script>
    <script src="./js/home.js" defer></script>
    <title>Words Poker</title>
</head>
<body>
    <div class="intro_screen intro_screen-show">   
        <div class="intro_screen-title-container">
            <div class="intro_screen-title">
                <span class="intro_screen-title-letter intro_screen-title-letter_e1">e</span>
                <span class="intro_screen-title-letter intro_screen-title-letter_l">l</span>
                <span class="intro_screen-title-letter intro_screen-title-letter_e2">e</span>
                <span class="intro_screen-title-letter intro_screen-title-letter_c">c</span>
                <span class="intro_screen-title-letter intro_screen-title-letter_t">t</span>
                <span class="intro_screen-title-letter intro_screen-title-letter_r">r</span>
                <span class="intro_screen-title-letter intro_screen-title-letter_o">o</span>
                <span class="intro_screen-title-letter intro_screen-title-letter_n">n</span>
            </div>
        </div>
    </div>
    <main>
        <div class="background-container">
            <img class="background" src="./assets/img/backgrounds/home/home.jpg"/>
        </div>
        <div class="home_title-container">
            <div class="home_title home_title_words">W<span>ords</span></div>
            <div class="home_title home_title_poker">P<span>oker</span></div>
        </div>
        <div class="home_artwork-container">
            <img class="home_artwork" src="./assets/img/words_poker-home_artwork.png"/>
        </div>
        <div class="continue">Continue</div>
        <div class="copyright-container">
            <div class="copyright">Copyright ©2025 Electron.</div>
            <div class="all_rights_reserved">All rights reserved.</div>
        </div>
    </main>
</body>
</html>